<ion-view view-title="" hide-back-button="true" id="backgroundColor" hide-nav-bar="true" class="bubbles">
      <ion-content class="padding-top" scroll="false">
        <link href="css/bubble.css" rel="stylesheet">
          <p id="mainTitle" class="animated fadeInDown">Whatz The Move</p>
          <img  class="animated infinite wobble" src="img/logo.png" style="width:104px; height:108px; margin-left: 127px; margin-bottom: 50px;" />
          </br>
          <a class="confirm_selection" style="color: white; margin-left: 82px;" ng-click="openHome()">Tap to begin your search now ><a>
          <p style="color:white; text-align:center;margin-left: 220px; margin-top: 170px;">powered by:</p>
          <p style="color:white; text-align:center;margin-left: 225px;">Hill Technologies</p>
          <div id="bubbles">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        </div>
        </ion-content>
</ion-view>
