<ion-view view-title="Whatz The Move" hide-back-button="true" class="backgroundColor">
	<ion-nav-buttons side="left">
		<button class="button back-button buttons button-clear header-item" ng-click="goBack()">
			<i class="icon ion-ios-arrow-back"> </i>
		</button>
	</ion-nav-buttons>
	<style>
		.change {
			border-radius: 12px;
			border: 2px;
			/*box-shadow:0 4px 8px 0 red, 0 0 0 3px blue;*/
			box-shadow:0 4px 8px 0 blue, 0 0 0 3px red;
			background-color: black;
			color: white;
			opacity: 0.7;
			text-align: center;
			margin-left: 30px;
			margin-right: 30px;
		}
		.addressStyle{
			border-radius: 12px;
			border: 2px;
			/*box-shadow:0 4px 8px 0 red, 0 0 0 3px blue;*/
			box-shadow:0 4px 8px 0 blue, 0 0 0 3px red;
			background-color: black;
			color: white;
			opacity: 0.7;
			text-align: center;
			margin-left: 30px;
			margin-right: 30px;
		}
	</style>
	<ion-content class="padding-top">
		<!-- Repeated three times because of the array in the controller-->




		<div class="padding">
			<h3>{{data.title}}</h3>
			<h3>Description:</h3>
			<div class="change">
			<pre><pan class="inner-pre" style="font-size: 18px"><font face="times new roman">{{data.description}}</font></span></pre>
			</div>
			<h3>Address:</h3>
			<h4 class="addressStyle">{{data.address}}</h4>
		</div>

		<div class="list card">

			<a href="{{data.contact.web}}" class="item item-icon-left">
				<i class="icon ion-earth"></i> Visit website
			</a>
			<br>
			<h4 style="center">Weekly Deals!</h4>

			<a href="#/weekly_deals" class="item item-icon-left"  ng-click="deal_date('thursday')">
				<i class="icon ion-social-usd"></i> Thursday
			</a>
			<a href="#/weekly_deals" class="item item-icon-left" ng-click="deal_date('friday')">
				<i class="icon ion-social-usd"></i> Friday
			</a>
			<a href="#/weekly_deals" class="item item-icon-left" ng-click="deal_date('saturday')">
				<i class="icon ion-social-usd"></i> Saturday
			</a>

		</div>


	</ion-content>
</ion-view>