<ion-view view-title="Whatz The Move" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button back-button buttons button-clear header-item" ng-click="goBack()">
			<i class="icon ion-ios-arrow-back"> </i>
		</button>
	</ion-nav-buttons>

	<ion-content class="padding-top">
		<!-- Repeated three times because of the array in the controller-->




		<div class="padding">
			<h3>{{data.title}}</h3>
			<pre><pan class="inner-pre" style="font-size: 18px"><font face="times new roman">{{data.description}}</font></span></pre>
			<h4>{{data.address}}</h4>
		</div>

		<div class="list card">

			<a href="{{data.contact.web}}" class="item item-icon-left">
				<i class="icon ion-earth"></i> Visit website
			</a>
			<br>
			<h4 style="center">Weekly Deals!</h4>

			<a href="#/weekly_deals" class="item item-icon-left">
				<i class="icon ion-social-usd"></i> Thursday
			</a>
			<a href="#/home" class="item item-icon-left">
				<i class="icon ion-social-usd"></i> Friday
			</a>
			<a href="#/home" class="item item-icon-left">
				<i class="icon ion-social-usd"></i> Saturday
			</a>

		</div>


	</ion-content>
</ion-view>