<ion-view view-title="Whatz The Move" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button back-button buttons button-clear header-item" ng-click="goBack()">
			<i class="icon ion-ios-arrow-back"> </i>
		</button>
	</ion-nav-buttons>

	<ion-content class="padding-top">
		<!-- Repeated three times because of the array in the controller-->




		<div class="padding">
			<pre><pan class="inner-pre" style="font-size: 18px"><font face="times new roman">{{data.deals.thursday}}</font></span></pre>

		</div>

	</ion-content>
</ion-view>